<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>首页</title>
  <link rel="stylesheet" href="../../layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">智慧马铃薯服务社区平台</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="/home">首页</a></li>
      <li class="layui-nav-item"><a th:href="@{/Topics/Topics(page='lun')}">论坛</a></li>
      <li class="layui-nav-item"><a href="/Categorys/Knowledge_column">知识专栏</a></li>
      <li class="layui-nav-item"><a href="/PhotoLibrarys/PhotoLibrary">马铃薯图像库</a></li>
      <li class="layui-nav-item"><a href="/Rellinks/Rellinks">友情连接</a></li>
      <li class="layui-nav-item"><a th:href="@{/Helps/Help_Landing_registration(title='登陆与注册')}">帮助</a></li>
      <li class="layui-nav-item"><a th:href="@{/Notices/Notice_Privacy_copyright(title='隐私和版权')}">公告</a></li>
      <li class="layui-nav-item"><a th:href="@{/LiveMsgs/LiveMsgs_see}">留言版</a></li>
      <div class="layui-nav-item">
        <form method="post" onsubmit="return validate_form(this)">
          <li class="layui-nav-item"><input  name="question" id="question" type="text"  class="layui-input"></li>
          <li class="layui-nav-item"><button type="submit" formaction="/Topics/findSignIn" class="layui-btn layui-btn-radius">Search</button></li>
        </form>
      </div>
    </ul>	
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;" th:text="${user.getNickname()}">
        </a>
        <dl class="layui-nav-child">
          <dd><a href="/Users/Personal_Center">个人中心</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="/">安全退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a href="/Topics/Topic_up">我要发贴</a>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a th:href="@{/Topics/Topics(page='xin')}">新帖榜</a>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a th:href="@{/Topics/Topics(page='re')}">热帖榜</a>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a th:href="@{/Topics/Topics(page='jin')}">精帖榜</a>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a th:href="@{/Topics/Topics(page='lun')}">论坛</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-row">
      <blockquote  class="layui-elem-quote" style="color: green;font-size: 20px;font-weight: 500;">搜索
        <span style="color: red;" th:text="${question}"></span>
        结果如下:
      </blockquote>
            <div class="layui-card">
              <div class="table-responsive">
            <table th:if="${stat} eq 'ok'" class="layui-table" lay-skin="line" lay-size="lg" id="table">              
              <thead>
                <tr>
                  <th>标题</th>
                  <th>发布者</th> 
                  <th>发布时间</th>
                  <th>点赞数</th>
                  <th>详情</th>
                </tr> 
              </thead>
              <tbody>
                <tr th:each="t: ${topicsList}">
                  <td th:text="${t.getTitle()}"></td>
                  <td th:text="${t.getUser().getNickname()}"></td>
                  <td th:text="${#dates.format(t.getTopicTime(),'yyyy-MM-dd HH:mm:ss')}"></td>
                  <td th:text="${t.getCountnice()}"></td>
                  <td>          
                    <a th:href="@{/Topics/Topic_see(id=${t.getId()})}" class="layui-btn layui-btn-xs layui-btn-normal">查看</a>
                  </td>                              
                </tr>
              </tbody>
          </table>
        </div>

       
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    智慧马铃薯服务社区平台
  </div>
</div>
<script src="../layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
function validate_required(field,alerttxt)
{
with (field)
  {
  if (value==null||value=="")
    {alert(alerttxt);return false}
  else {return true}
  }
}

function validate_form(thisform)
{
with (thisform)
  {
  if (validate_required(question,"搜索框不可以为空")==false)
    {question.focus();return false}
  }
}
</script>
</body>
</html>