<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>论坛管理</title>
  <link rel="stylesheet" href="../../layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">智慧马铃薯社区管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="/Manager/Manager_users">用户管理</a></li>
      <li class="layui-nav-item"><a href="/Manager/Manager_topics">论坛管理</a></li>
      <li class="layui-nav-item"><a href="/Manager/Manager_knowledges">专栏管理</a></li>
      <li class="layui-nav-item"><a href="/Manager/Manager_photoLibrarys">马铃薯图像库管理</a></li>
      <li class="layui-nav-item"><a href="/Manager/Manager_relinks">相关连接管理</a></li>
      <li class="layui-nav-item"><a href="/Manager/Manager_helps">帮助管理</a></li>
      <li class="layui-nav-item"><a href="/Manager/Manager_notices">公告管理</a></li>
      <li class="layui-nav-item"><a href="/Manager/Manager_LiveMsgs">留言版</a></li>
    </ul>	
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;" th:text="${manager.getNickname()}">
        </a>
      </li>
      <li class="layui-nav-item"><a href="/">安全退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;">功能</a>
          <dl class="layui-nav-child">
            <dd><a href="/Manager/Manager_users">用户管理</a></dd>
            <dd><a href="/Manager/Manager_topics">论坛管理</a></dd>
            <dd><a href="/Manager/Manager_knowledges">专栏管理</a></dd>
            <dd><a href="/Manager/Manager_photoLibrarys">马铃薯图像库管理</a></dd>
            <dd><a href="/Manager/Manager_relinks">相关连接管理</a></dd>
            <dd><a href="/Manager/Manager_helps">帮助管理</a></dd>
            <dd><a href="/Manager/Manager_notices">公告管理</a></dd>
            <dd><a href="/Manager/Manager_LiveMsgs">留言版</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">

    <div class="layui-row">
      <blockquote class="layui-elem-quote" style="color: green;font-size: 20px;font-weight: 500;">论坛管理</blockquote>
      <div class="layui-card">
        <div class="table-responsive">
          <table id="usersList" lay-filter="test"></table>
        </div>
      </div>
    </div>


  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    智慧马铃薯服务社区管理平台
  </div>
</div>
<script src="../layui/layui.js"></script>
<script type="text/html" id="doBar">
  <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">设为精帖</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
</script>
<script>
  layui.use('table', function(){
    var table = layui.table;
    //第一个实例
    table.render({
      elem: '#usersList'
      ,height: 466
      ,url: '/Manager/topicsList' //数据接口
      ,page: true //开启分页
      ,method: 'post'
      ,totalRow: true //开启合计行
      ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
      ,limit:5 //默认为10
      ,limits:[5,10,15,20,25]   //显示的几页
      ,cols: [
        [ //表头
          {field: 'title', title: '标题', fixed: 'left'}
          ,{field:'nickname',title: '发帖者',templet:'<div>{{d.user.nickname}}</div>'}
          ,{field: 'topicTime', title: '发帖时间', sort: true,templet : "<div>{{layui.util.toDateString(d.topicTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"}
          ,{title: '操作', toolbar:"#doBar", width:200}
        ]
      ]
    });

    table.on('tool(test)', function(obj){
      var data = obj.data;
      var layEvent = obj.event;

      if(layEvent === 'edit'){ //修改
        location.href="/Topics/Modeify?id="+data.id;
      } else if(layEvent === 'delete'){ //删除
        layer.confirm('真的要删除该帖子么', function(index){
          location.href="/Topics/delete?id="+data.id;
        });
      }
    });
  });
  layui.use('form', function(){
    var form = layui.form;
    form.render();
  })
</script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
});
</script>
</body>
</html>