<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>首页</title>
  <link rel="stylesheet" href="../../layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">智慧马铃薯服务社区平台</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="/home">首页</a></li>
      <li class="layui-nav-item"><a href="">帖子</a></li>
      <li class="layui-nav-item"><a href="/Categorys/Knowledge_column">知识专栏</a></li>
      <li class="layui-nav-item"><a href="/PhotoLibrarys/PhotoLibrary">马铃薯图像库</a></li>
      <li class="layui-nav-item"><a href="">相关连接</a></li>
      <li class="layui-nav-item"><a th:href="@{/Helps/Help_Landing_registration(title='登陆与注册')}">帮助</a></li>
      <li class="layui-nav-item"><a th:href="@{/Notices/Notice_Privacy_copyright(title='隐私和版权')}">公告</a></li>
      <div class="layui-nav-item">
      	<form method="post">
	  	 	<li class="layui-nav-item"><input type="text"  class="layui-input"></li>   
	  		<li class="layui-nav-item"><button type="submit" formaction="/admin/findSignIn" class="layui-btn layui-btn-radius">Search</button></li>   
	  	</form> 
      </div>
    </ul>	
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;" th:text="${user.getNickname()}">
        </a>
        <dl class="layui-nav-child">
          <dd><a href="/Users/Personal_Center">个人中心</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="/">安全退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a href="/PhotoLibrarys/PhotoLibrary">马铃薯图像库</a>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a href="/PhotoLibrarys/PhotoLibrary_upload">我要上传</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
        <div class="layui-upload">
          <button type="button" class="layui-btn layui-btn-normal" id="testList">请选择文件</button> 
          <div class="layui-upload-list">
            <table class="layui-table">
              <thead>
                <tr><th>文件名</th>
                <th>大小</th>
                <th>状态</th>
                <th>操作</th>
              </tr></thead>
              <tbody id="demoList"></tbody>
            </table>
          </div>
          <button type="button" class="layui-btn" id="testListAction">开始上传</button>
    </div> 




  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    智慧马铃薯服务社区平台
  </div>
</div>
<script src="../layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
var files=[];
layui.use('upload', function(){
  var $ = layui.jquery
  ,upload = layui.upload;
  //多文件列表示例
  var demoListView = $('#demoList')
          ,uploadListIns = upload.render({
    elem: '#testList'
    ,url: '/PhotoLibrarys/uploadSource' //改成您自己的上传接口
    ,accept: 'file'
    ,multiple: true
    ,auto: false
    ,bindAction: '#testListAction'
    ,choose: function(obj){
      var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
      //读取本地文件
      obj.preview(function(index, file, result){
        var tr = $(['<tr id="upload-'+ index +'">'
          ,'<td>'+ file.name +'</td>'
          ,'<td>'+ (file.size/1024).toFixed(1) +'kb</td>'
          ,'<td>等待上传</td>'
          ,'<td>'
          ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
          ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
          ,'</td>'
          ,'</tr>'].join(''));

        //单个重传
        tr.find('.demo-reload').on('click', function(){
          obj.upload(index, file);
        });

        //删除
        tr.find('.demo-delete').on('click', function(){
          delete files[index]; //删除对应的文件
          tr.remove();
          uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
        });

        demoListView.append(tr);
      });
    }
    ,done: function(res, index, upload){
      if (res.code == 0){
        var tr = demoListView.find('tr#upload-'+ index)
                ,tds = tr.children();
        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
        tds.eq(3).html(''); //清空操作
        return delete this.files[index]; //删除文件队列已经上传成功的文件
      }
      this.error(index, upload);
    }
    ,error: function(index, upload){
      var tr = demoListView.find('tr#upload-'+ index)
              ,tds = tr.children();
      tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
      tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
    }
  });

});

</script>
</body>
</html>