<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>首页</title>
  <link rel="stylesheet" href="../../layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">智慧马铃薯服务社区平台</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="/home">首页</a></li>
        <li class="layui-nav-item"><a th:href="@{/Topics/Topics(page='lun')}">论坛</a></li>
        <li class="layui-nav-item"><a href="/Categorys/Knowledge_column">知识专栏</a></li>
        <li class="layui-nav-item"><a href="/PhotoLibrarys/PhotoLibrary">马铃薯图像库</a></li>
		<li class="layui-nav-item"><a href="/Rellinks/Rellinks">友情连接</a></li>
        <li class="layui-nav-item"><a th:href="@{/Helps/Help_Landing_registration(title='登陆与注册')}">帮助</a></li>
        <li class="layui-nav-item"><a th:href="@{/Notices/Notice_Privacy_copyright(title='隐私和版权')}">公告</a></li>
		<li class="layui-nav-item"><a th:href="@{/LiveMsgs/LiveMsgs_see}">留言版</a></li>
		<div class="layui-nav-item">
			<form method="post" onsubmit="return validate_form(this)">
				<li class="layui-nav-item"><input  name="question" id="question" type="text"  class="layui-input"></li>
				<li class="layui-nav-item"><button type="submit" formaction="/Topics/findSignIn" class="layui-btn layui-btn-radius">Search</button></li>
			</form>
		</div>
    </ul>	
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;" th:text="${user.getNickname()}">
            </a>
            <dl class="layui-nav-child">
                <dd><a href="/Users/Personal_Center">个人中心</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/">安全退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
     <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;">个人中心</a>
          <dl class="layui-nav-child">
            <dd><a href="/Users/Personal_Center">个人信息</a></dd>
            <dd><a href="/Topics/Personal_topic">我的帖子</a></dd>
			<dd><a href="/Collects/Personal_collect">我的收藏</a></dd>
			<dd><a href="/News/Personal_news">我的消息</a></dd>
            <dd><a href="/Users/Personal_Modify">修改资料</a></dd>
            <dd><a href="/Users/Personal_password">修改密码</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
      <blockquote class="layui-elem-quote" style="color: green;font-size: 20px;font-weight: 500;" th:text="${topic.getTitle()}"></blockquote>


		<div class="layui-col-md12 layadmin-homepage-list-imgtxt message-content">
		       <div class="media-body">
		          <a href="javascript:;" class="media-left" style="float: left;">
		             <img th:src="${topic.getUser().getPicture()}" height="46px" width="46px">
		          </a>
		          <div class="pad-btm">
		            <p class="fontColor" th:text="${topic.getUser().getNickname()}"></p>
		            <p class="min-font">
		              <span class="layui-breadcrumb" lay-separator="-" style="visibility: visible;">
		                <span lay-separator="" th:text="${#dates.format(topic.getTopicTime(),'yyyy-MM-dd HH:mm:ss')}"></span>
		                <span lay-separator="">浏览数</span>
		                <span lay-separator="" th:text="${topic.getCountsee()}"></span>
		              </span>
		            </p>         
		         </div>
		          <p class="message-text" th:text="${topic.getContent()}"></p>
		          <br>
		          <img th:if="${topic.getPicturl()} ne null" th:src="${topic.getPicturl()}" height="200px" width="200px">
		          <br>
				   <br>
		          <a th:href="@{/Topics/Topic_nice(id=${topic.getId()})}" class="media-left" style="float: left;">
		          	<i class="layui-icon layui-icon-praise" style="font-size: 30px; color: #1E9FFF;"></i>  
		          </a>
		          <p class="min-font">
		              <span class="layui-breadcrumb" lay-separator="-" style="visibility: visible;">
		                <span lay-separator="" th:text="${topic.getCountnice()}"></span>
		              </span>
		            </p>  
		       </div>
		     </div>




      <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
		  <legend>回复</legend>
		</fieldset>

		<form class="layui-form" method="post" th:action="@{/Comments/comment_add(id=${topic.getId()})}">
		  <div class="layui-form-item layui-form-text">
		    <label class="layui-form-label">内容</label>
			   <div class="layui-form-item layui-form-text">
				<div class="layui-input-block">
				  <textarea name="cont" placeholder="请输入内容" class="layui-textarea" lay-verify="required" lay-reqtext="内容不可以为空哦？"></textarea>
				</div>
			  </div>

			  <div class="layui-form-item">
					<label class="layui-form-label">照片</label>
					<div class="layui-input-block">
						<button type="button" class="layui-btn" id="upload1">上传图片</button>
						<input type="hidden" id="picturl" name="picturl" value=""/>
						<div class="layui-upload-list">
							<img class="layui-upload-img" width="100px" height="80px" id="demo1"/>
							<p id="demoText"></p>
						</div>
					</div>
				</div>
			  <div class="layui-form-item">
				<div class="layui-input-block">
				  <button   type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">发布</button>
				</div>
			  </div>
		  </div>
		</form>





		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
				  <legend>其他回复</legend>
				</fieldset>


		<div class="layui-col-md12 layadmin-homepage-list-imgtxt message-content">
		       <div class="media-body" th:each="c: ${topic.getCommentsList()}">
		          <a href="javascript:;" class="media-left" style="float: left;">
		             <img th:src="${c.getUser().getPicture()}" height="46px" width="46px">
		          </a>
		          <div class="pad-btm">
		            <p class="fontColor" th:text="${c.getUser().getNickname()}"></p>
		            <p class="min-font">
		              <span class="layui-breadcrumb" lay-separator="-" style="visibility: visible;">
		                 <span lay-separator="" th:text="${c.getCommentTime()}"></span>
		              </span>
		            </p>         
		         </div>
		          <p class="message-text" th:text="${c.getContent()}"></p>
		          <img th:if="${c.getPicturl()} ne null and ${c.getPicturl()} ne '' " th:src="${c.getPicturl()}" height="200px" width="200px">
				   <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
				   </fieldset>
		       </div>
		     </div>


       
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    智慧马铃薯服务社区平台
  </div>
</div>
<script src="../layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
	var element = layui.element;

});
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;

  //自定义验证规则
  form.verify({
    title: function(value){
      if(value.length < 5){
        return '标题至少得5个字符哦';
      }
    }
    ,content: function(value){
      layedit.sync(editIndex);
    }
  }); 
});


 layui.use('upload', function(){
        var upload = layui.upload
            , $ = layui.jquery;
        var uploadInst = upload.render({
            elem: '#upload1' //绑定元素
            ,url: '/Comments/uploadsee'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                alert("上传成功"+res.url);
                document.getElementById("picturl").value = res.url;

            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });


function validate_required(field,alerttxt)
{
	with (field)
	{
		if (value==null||value=="")
		{alert(alerttxt);return false}
		else {return true}
	}
}

function validate_form(thisform)
{
	with (thisform)
	{
		if (validate_required(question,"搜索框不可以为空")==false)
		{question.focus();return false}
	}
}
</script>
</body>
</html>