<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yamplatform.spscp.mapper.LiveMsgsMapper">
	<resultMap type="yamplatform.spscp.pojo.LiveMsgs" id="SelectAll">
		<result property="id" column="id"/>
		<result property="uid" column="uid"/>
		<result property="content" column="content"/>
		<result property="newtime" column="newtime"/>
	</resultMap>
	<!-- 查询一个栏目 -->
	<select id="SelectOne" parameterType="Integer" resultType="yamplatform.spscp.pojo.LiveMsgs">
    select * from t_livemsgs where id = #{id}
  </select>
	<!-- 插入栏目 -->
	<insert id="InsertLiveMsgs" parameterType="yamplatform.spscp.pojo.LiveMsgs">
		insert into t_livemsgs(newtime,content,uid) values(
		now(),#{liveMsgs.content,jdbcType=VARCHAR},#{liveMsgs.uid,jdbcType=INTEGER})
	</insert>
	<!-- 查询所有栏目 -->
	<select id="LiveMsgsList" resultMap="SelectAll">
    	select * from t_livemsgs order by newtime desc
  	</select>

	<select id="Count" resultType="INTEGER">
    	select count(*) from t_livemsgs
	</select>
	<select id="Listpage" resultMap="SelectAll">
    	select * from t_livemsgs limit #{page},#{lim}
	</select>
</mapper>