<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yamplatform.spscp.mapper.NoticesMapper">
	<!-- 查询一个公告 -->
	<select id="SelectOne" parameterType="String" resultType="yamplatform.spscp.pojo.Notices">
    select * from t_announce where title = #{title}
  </select>
	<!-- 插入公告 -->
	<insert id="InsertNotice" parameterType="yamplatform.spscp.pojo.Notices">
		insert into t_announce(announcement,title,newtime) values(#{notice.announcement,jdbcType=VARCHAR},#{notice.title,jdbcType=VARCHAR},now())
	</insert>
	<!-- 更新公告 -->
	<update id="UpdateNotice">
	  update t_announce set announcement=#{notice.announcement} , title = #{notice.title} , newtime= now() where title=#{notice.title}
	</update>
	<!-- 查询所有用户 -->
	<resultMap type="yamplatform.spscp.pojo.Notices" id="SelectAll">
		<result property="id" column="id"/>
		<result property="announcement" column="announcement"/>
		<result property="title" column="title"/>
		<result property="newtime" column="newtime"/>
	</resultMap>

</mapper>