<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yamplatform.spscp.mapper.TypesMapper">
	<!-- 查询一个栏目 -->
	<select id="SelectOne" parameterType="Integer" resultType="yamplatform.spscp.pojo.Types">
    select * from t_type where id = #{id}
  </select>
	<!-- 插入栏目 -->
	<insert id="InsertTypes" parameterType="yamplatform.spscp.pojo.Types">
		insert into t_type(name,countTopics,countComments,typescategoryid,url) values(#{types.name,jdbcType=VARCHAR},#{types.countTopics,jdbcType=INTEGER},#{types.countComments,jdbcType=INTEGER},#{types.typescategoryid,jdbcType=INTEGER},#{types.url,jdbcType=VARCHAR})
	</insert>
	<!-- 更新栏目 -->
	<update id="UpdateTypes">
	  update t_type set name=#{types.name} , countTopics = #{types.countTopics}  , countComments = #{types.countComments}, typescategoryid = #{types.typescategoryid}, url = #{types.url}where id=#{types.id}
	</update>
	<!-- 查询所有栏目 -->
	<resultMap type="yamplatform.spscp.pojo.Types" id="SelectAll">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="countTopics" column="countTopics"/>
		<result property="countComments" column="countComments"/>
		<result property="typescategoryid" column="typescategoryid"/>
		<result property="url" column="url"/>
	</resultMap>
	<select id="typesList" resultMap="SelectAll">
    	select * from t_type
  	</select>
	<select id="typesListbycid" resultMap="SelectAll">
    	select * from t_type where typescategoryid=#{cid}
  	</select>
</mapper>